footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    width: 100%;
    margin-top: 15px;  /* separación con el contenido */
}

footer p {
    font-size: 14px;
}