/*
 * --------------------------------
 * ESTILOS GENERALES Y LAYOUT
 * --------------------------------
 */

body {
    /* Fondo limpio, centrar contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FBFBFB; /* Color de fondo claro */
}

main {
    padding: 20px;
    width: 100%;
    max-width: 350px; /* Ancho máximo para la tarjeta de login */
}

/*
 * --------------------------------
 * ESTILOS DEL HEADER (Botón Volver)
 * --------------------------------
 */

header {
    position: absolute;
    top: 20px;  
    left: 20px;
}

#btn-back {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #333;
    padding: 10px;
    border-radius: 8px;
}

/*
 * --------------------------------
 * ESTILOS DEL LOGO
 * --------------------------------
 */

/* Estilos para el contenedor del logo  */
main > div:first-child {
    text-align: center;
    margin-bottom: 30px;
}

/* Puedes darle un tamaño fijo al logo */
img {
    width: 80px;
    height: 80px;
    margin-bottom: 80px;
    border-radius: 10%;
    
}

/*
 * --------------------------------
 * ESTILOS DEL FORMULARIO Y CAMPOS
 * --------------------------------
 */

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los campos */
}


input[type="text"], 
input[type="password"] {
   
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px; 
    background-color: #4f4f4f; 
    color: white; 
    font-size: 1.1em;
    text-align: center; 
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); 
}

/* Estilo para el texto/placeholder dentro del campo */
input::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Gris "Username" / "Password" */
}

/*
 * --------------------------------
 * ESTILOS DEL BOTÓN CONFIRMAR
 * --------------------------------
 */

button[id="submit"] {
    
    background-color: #5abcb7; /* Un turquesa agradable */
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px; /* Esquinas redondeadas */
    cursor: pointer;
    margin-top: 15px; /* Espacio superior*/
} 
